@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-bg: #363537;
  --primary-font: #fbfef9;
  --light-blue: #0e79b2;
  --light-red: #bf1363;
}

* {
  font-family: "Roboto", sans-serif;
}

body {
  height: 100vh;
  max-height: 100vh;
}

#__next {
  height: 100%;
  width: 100%;
}

.theme {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.theme-dark {
  background-color: var(--primary-bg);
  color: var(--primary-font);
}

.theme-light {
  background-color: var(--primary-font);
  color: var(--primary-bg);
}

.theme-dark input[type="date"] {
  color-scheme: dark;
}

.theme-light input[type="date"] {
  color-scheme: light;
}
